@import "../../../styles/app";



// ALERT
.promoAlert {
  // position: fixed;
  transition: 0.6s;
  transition-timing-function: ease;
  transform: translateX(-130vw);
}
.showAlert {
  transform: translateX(0);
}

.root {
  font-size: 14px;
  font-style: initial;
  font-weight: $font-weight-normal;
}


th,
td {
  font-family: "Assitant" sans-serif;
  // text-transform: lowercase;
  text-transform: none !important;
  // border: 2px solid black !important;
}


.rootPaginate{
  li {
    border: #474d80 1px solid;  
    a{
      padding: 7px 7px;
      color:  rgba(255,255,255,.7);   
    }
  }
  li:hover{
    background-color:#474d84;  
  }
 }
