@import "../../../styles/app";

// CUSTOM
.rowWhite {
  background-color: #fff;
}
// .rowTable ::webkit-overflow-scrolling {
//   color: royalblue;
// }

//  .rowTable {
//   overflow-x: scroll;
//   ::-webkit-scrollbar-track {
//     background-color:
// }
.root {
  font-size: 14px;
  // overflow-x: scroll;
}
td {
  min-width: 135px;
  // display:inline-block;
}

// s

th,
td,
table ::webkit-overflow-scrolling {
  font-family: "Assistant", sans-serif !important ;
  // text-transform: lowercase !important ;
}
