@import "../../../styles/app";

// CUSTOM
.rowWhite {
  background-color: #fff;
}

.root {
  font-size: 14px;
  font-style: initial;
  font-weight: $font-weight-normal;
}

// .mainTableWidget {
//   :global {
//     .table td {
//       border: none;
//     }
//   }
// }
