@import "../../../styles/app";

// CUSTOM
.rowWhite {
  background-color: #fff;
}

.root {
  font-size: 14px;
  font-style: initial;
  font-weight: $font-weight-normal;
}

.rootPaginate{
  li {
    padding: 0.3rem 0.5rem;
    border: #474d80 1px solid;  
    a{
      color:  #ffffff;   
    }
  }
  li:hover{
    background-color:#474d84;  
  }
}
// .mainTableWidget {
//   :global {
//     .table td {
//       border: none;
//     }
//   }
// }
